@charset "utf-8";

#bo_cate {margin:0 0 20px}
#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {display:inline-block;position:relative;float:left;width:33.333%;margin-top:-1px;text-align:center}
#bo_cate a {display:block;line-height:36px;padding:0 10px;margin-left:-1px;border:1px solid transparent;border:1px solid #e4e5e7;background:#f7f8f9}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none;color:#2aba8a}
#bo_cate #bo_cate_on {z-index:2;background:#fff;color:#2aba8a;font-weight:bold}
#bo_cate #bo_cate_on:after {content:"";position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid #2aba8a;z-index:99}

#faq_wrap h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#faq_wrap p {line-height:1.8em}
#faq_wrap ol {margin:1px 0 0;padding:20px;background:#fff;border:1px solid #e4e5e7;list-style:none}
#faq_wrap li {background:#fff;border:1px solid #f0f0f0;margin-top:-1px}
#faq_wrap h3 {position:relative}
#faq_wrap button {display:block !important;width:100%;padding:15px 10px 15px 17px;border:0;background:#fff;text-align:left}
#faq_wrap button {background:url('img/btn_open.jpg') 98% 50% no-repeat}
#faq_wrap button.pv_ji_cl {background:url('img/btn_close.jpg') 98% 50% no-repeat}

#faq_con .con_inner {position:relative;display:none;padding:10px;line-height:1.8em;border-top:1px solid #eee;background:#f5f5f5}

#faq_sch {position:relative;background:#fff;padding:20px;text-align:center;border:1px solid #e4e5e7;margin-bottom:20px}
.faq_sch_frm {position:relative;width:300px;display:inline-block}
#faq_sch .frm_input {width:100%;height:40px;margin:0 auto;border:2px solid #2aba8a;background:transparent;border-radius:3px}
#faq_sch .btn_submit {position:absolute;top:0;right:0;width:40px;height:40px;background:none;border:0;color:#2aba8a;font-size:1.6em}


@media (max-width:980px){
	#bo_cate {padding:0 15px}
	.faq_sch_frm {width:100%}
}
